body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    margin: 100;
    padding: 60;
}
body{
    background-image: url('contact-us-1908763_1280.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keep the background image fixed */
    height: 100vh; 
    padding: 100px;
}
.btn-home {
    display: inline-block;
    padding: 10px 20px;
    background-color:darkblue;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    right: 20px; 
    transform: translateY(-50%);
    margin-top: -310px;
}


h1 {
    color:black;
    font-size: 50px;
    margin-top: 20px;
}

p {
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    background-color: black;
    color:white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    width: 700px;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

select:hover,
select:focus {
    border-color: #0056b3;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

