body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  color: #000;
  font-size: 36px;
  margin-top: 20px;
  font-weight: bold;
}

p {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.registration-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

table {
  width: 100%;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2980b9;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
  justify-content: center;
}
