body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 0;
    margin: 0;
}
    
header{
    background-image: url('istockphoto-1333043586-1024x1024.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@keyframes FadeIn {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%);
        opacity: 1;
    }
}

.animated-heading {
    animation: FadeIn 1.5s ease-in-out;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    color: #000;
    font-size: 36px;
    margin-top: 20px;
    font-weight: bold;
}
.container {
    max-width: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}

.container h1{
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}
.alert-card {
    background-color: #ffbf00; 
    border: 1px solid #ddd;
    color: #dddddd;
    border-radius: 10px;
    padding: 20px 5px 5px 5px;
    width: 98%;
    margin: 5px auto;
    animation: Flashing 0.5s infinite alternate;
}

@keyframes Flashing {
    0% {
        background-color: #ff4646;
    }
    100% {
        background-color: #e21a1a;
    }
}

.left-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px; 
    width: calc(50% - 30px); 
    margin: 20px;
    box-sizing: border-box;
    font-size: 18px; 
    
} 
/* .right-container {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
} */
.register-button {
    background-color: #007bff;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    margin: 15px 85px 15px 25px; 
    text-decoration:none;
    cursor: pointer;
    
    
}
.right-placeholder {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 20px 100vh 20px; 
    width: 45vw;
    margin-right: 10px;
    margin-top: 15px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-d {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px; /* Add spacing between cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Style for card body */
.card-d .card-body {
    padding: 20px; 
}

/* Style for card titles */
.card-d .card-title {
    font-size: 1.25rem; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 0.5rem; /* Add spacing below the title */
}

/* Style for card text */
.card-d .card-text {
    font-size: 1rem; /* Adjust the font size as needed */
    margin-bottom: 1rem; /* Add spacing below the text */
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}
#map {
    flex: 1;
    width: 600px; 
    height: 400px; 
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
}
.right-container {
    flex: 1;
    overflow-y: auto;
    width: 600px;
    max-height: 400px;
}
.info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
.weather-details,
.card,
.weather-details{
    background-color: #fff;
    width: 94vw;
    height: 25vh;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    padding-top: 1.5vh;
    padding-left: 1.5vh;
    border-radius: 10px; 
    border: 1px solid #ccc; 
} 
section{
    background-image: url('istockphoto-1333043586-1024x1024.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.weather-list{
    text-align: left;
    padding: 20px 5px 5px 30%; 
    margin-left:20px;   
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0%;
}
.weather-details li{
    margin-right: 20px;
}
/* .contact-details{
    background-color: #ffffff;
    margin-top: 5px;
    width: 50%;
    text-align: center;
} */
.nav-link {
    background-color: red; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border: radius 5px;
}

.dos-button {
    background-color: green;
}


.nav-link:hover {
    background-color: rgb(235, 77, 77); 
}

.nav-item .dos-button:hover {
    background-color: rgb(15, 207, 15);
} 

.topnav{
    padding: 5px;
    margin: 30px;
    
}
#topnav{display:block;float:center; margin:7px 0 0 0; padding:0; list-style:none; font-size:14px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}
#topnav ul, #topnav li{float:left; list-style:none; margin:0; padding:0;}
#topnav li a:link, #topnav li a:visited, #topnav li a:hover{display:block; margin:0; padding:15px 20px; color:#999999;}
#topnav ul ul li a:link, #topnav ul ul li a:visited{border:none;}
#topnav li.last a{margin-right:0;}
#topnav li a:hover, #topnav ul li.active a{color:#999999;}
#topnav li li a:link, #topnav li li a:visited{width:150px; float:none; margin:0; padding:7px 10px; font-size:12px; font-weight:normal;}
#topnav li ul{z-index:9999; position:absolute; left:-999em; height:auto; width:170px; border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;}
#topnav li ul a{width:140px;}
#topnav li ul ul{margin:-32px 0 0 0;}
#topnav li:hover ul ul{left:-999em;}
#topnav li:hover ul, #topnav li li:hover ul{left:auto;}
#topnav li:hover{position:static;}
#topnav li.last a{margin-right:0;}
#topnav li.last a{margin-right:0;}
